* {
	-moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#grid {
	display: block;
	position: relative;
	margin: auto;
}

.box {
	float: left;
	display: relative;
	border: 1px solid black;
	height: 1.5em;
	width: 1.5em;
	text-align: center;
	line-height: 1.5em;
}

.row {
	clear: left;
}